<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <style>
       a:hover {
           color: #3250a8!important;
	   text-decoration: none;
       }
       a {
           color: #615eff;
       }
       a:visited {
           color: #615eff;
       }
    </style>
    <main class="page-content" aria-label="Content" style="background-color: #222222; color: white;">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>

</html>
